@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn-nav { 
      @apply 
        inline-flex 
        items-center 
        gap-x-1
        leading-6
        text-white 
        hover:text-[#FABC3F]
        text-sm 
        font-semibold
    }
  }

  :root{
    --swiper-theme-color: #4652FA !important;
    --swiper-navigation-size: 30px;
  }